# macos
*.DS_Store

# git
.git
.gitignore
.github/

# docker
Dockerfile*
docker-compose.yml
dockerfiles/

# dependencies
node_modules/
venv/
.venv/

# py cache & tests
__pycache__/
*.pyc
.pytest_cache/

# env & logs
.env
*.log

# docs
*.md
