x-defaults: &defaults
  environment:
    - PATH=/usr/local/bin/scripts:${PATH}
  volumes:
    - "$HOME/.gitconfig:/root/.gitconfig"
    - "$HOME/.git-aliases:/root/.git-aliases"

services:
  ubuntu24:
    container_name: ubuntu24
    <<: *defaults
    build:
      context: ./
      dockerfile: dockerfiles/Dockerfile-ubuntu
      args:
        UBUNTU_VERSION: "24.04"

  ubuntu22:
    container_name: ubuntu22
    <<: *defaults
    build:
      context: ./
      dockerfile: dockerfiles/Dockerfile-ubuntu
      args:
        UBUNTU_VERSION: "22.04"

  alpine3:
    container_name: alpine3
    <<: *defaults
    build:
      context: ./
      dockerfile: dockerfiles/Dockerfile-alpine

  # arch btw
